@model Proyecto.Domain.Entities.Pelicula
@{
    ViewData["Title"] = "Crear Película";
}

<h1>Crear Nueva Película</h1>

<form method="post" asp-action="Crear">
     <div class="form-group">
        <label for="Titulo">Título</label>
        <input type="text" id="Titulo" name="Titulo" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <textarea id="Descripcion" name="Descripcion" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="Genero">Género</label>
        <input type="text" id="Genero" name="Genero" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Duracion">Duración (hh:mm:ss)</label>
        <input type="text" id="Duracion" name="Duracion" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="FechaEstreno">Fecha de Estreno</label>
        <input type="date" id="FechaEstreno" name="FechaEstreno" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>