@{
    ViewData["Title"] = "Inicio";
}

<div class="d-flex flex-column align-items-center justify-content-center gap-4">
<h1 class="text-center fw-semibold text-white" style="font-family: 'Poppins', sans-serif; font-size: 64px; font-style: normal; line-height: 74px; width: 900px;">Bienvenido a CineTicketing</h1>
<p class="text-white fw-medium" style="font-family: 'Poppins', sans-serif; font-size: 20px; font-style: normal; line-height: normal; width: 589px; text-align: center;">Explora nuestras películas y compra tus entradas en línea</p>
<a style="text-decoration: none;" href="/Peliculas"><button type="button" class="btn text-white d-flex align-items-center" 
    style="display: flex; 
           font-family: 'Poppins', sans-serif;
           font-weight: bold;
           width: 296px; 
           padding: 20px 24px; 
           justify-content: center; 
           align-items: flex-start; 
           gap: 12px; 
           border-radius: 80px; 
           background: #FF1D45; 
           box-shadow: 0px 0px 11px 0px #FF1D45; 
           border: none; 
           color: white; 
           transition: all 0.3s ease;"
    onmouseover="this.style.background='#FF4A68'; this.style.boxShadow='0px 0px 15px 2px #FF4A68';"
    onmouseout="this.style.background='#FF1D45'; this.style.boxShadow='0px 0px 11px 0px #FF1D45';">
    <i class="fas fa-film"></i>
  VER PELÍCULAS
</button></a>
</div>






